<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>

    <test verbose="2" preserve-order="true"
          name="D:/SDET_April/Selenium/Selenium_Project_withMaven/src/test/java/myProjectInTestNG/OrangeHRMLoginTest.java">
        <classes>
            <class name="myProjectInTestNG.OrangeHRMLoginTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInValidLogin"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>