<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testNGListeners.ExtentManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="D:/SDET_April/Selenium/Selenium_Project_withMaven/src/test/java/testNGListeners/LoginTest.java">
        <classes>
            <class name="testNGListeners.LoginTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInValidLogin"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>