<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name = "Smoke">
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="TestNG.MyAppTest">

            </class>
        </classes>
    </test>
    <test name = "Regression">
        <groups>
            <run>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="TestNG.MyAppTest">

            </class>
        </classes>
    </test>
</suite>